.navheader {
 display: flex;
 align-items: center;
 column-gap: 150px;
}
.navbar-nav {
  display: flex;
  justify-content: space-around;
}
.firstrow {
  margin-top: 100px;
}
.shadowbtn {
  box-shadow: 5px 5px rgba(211, 211, 211, 0.445);
}

main {
  h1 {
    font-weight: bolder;
    color: rgb(14, 14, 61);
    font-size: 50px;
  }
  h2 {
    color: blue;
    font-weight: bolder;
    font-size: 50px;
  }
  .firstcol {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
    
  }
  p {
    font-size: 13px;
  }
}
.flex-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.firstimage {
  width: 500px;
  height: 400px;
}
.secondheader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.secondrow {
  background-color: rgb(253, 251, 251);
  padding-top: 50px;
  padding-bottom: 50px;
  .h3 {
    width: 40%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  span {
    color: blue;
    font-weight: bolder;
  }
}
footer {
  .card {
    border-style: none;
    line-height: 30px;
  }
  .footercol {
    border-left: 1px solid rgb(245, 240, 240);
    position: relative;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 100px;

  }
  .card-title {
    font-weight: 900;
    margin-bottom: 20px;
  }
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  text-align: center;
  position: absolute;
  top: 0px;
  left: -10px;

}

@media screen and (max-width: 768px) {
  .firstrow, .firstcol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .firstcol {
      width: 100vw;
      margin: auto 0;
      padding: 20px;
      .small {
        width: 100vw;
      }
    .seconcol {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      height: auto;
    }
    }
  }
  .secondrow {
    .h3 {
      width: 80%;
    }
    .flex-logo {
      max-width: 100vw;
      column-gap: 5px;
      img {
       width: 50px;
      }
    }
  }
  .secondrow {
    width: 100vw;
  }
  .footerrow {
    row-gap: 10px;
  }
  .footercol {
    width: 100vw;
  }

  
}
